h1= title
div(id='id')
p Page is currently 
p(id='status') Disconnected
div(id='content')
  img(id='qrcode')
  div(id='responce')
  button(onclick='send()') send
  input(id='message');
script(src="/socket.io/socket.io.js")
script
  var connection = document.getElementById('status');
  var id=null;
  var socket=io.connect('/server');
  function send(){
    socket.emit('command', {message:message.value});
  }
  socket.on('qrcode',function(uri){
  document.getElementById('qrcode').src=uri;
  });
  socket.on('set id', function(serid){
    id=serid;
    document.getElementById('id').innerHTML='Current ID is '+id;
  });
  socket.on('link', function(){
    connection.innerHTML="Connected";
    connection.style.color='green';
    document.getElementById('qrcode').src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==';
  });
  socket.on('command', function(event){
    console.log(event);
    document.getElementById('responce').innerHTML=event.message;
  });
  socket.on('over', function(){
    connection.innerHTML="Closed";
    connection.style.color='red';
    document.getElementById('content').innerHTML="";
  });
